:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-toolbar {
  span {
    flex: 1
  }
}

mat-card {
  flex: 1;
  margin: 16px;
  overflow-y: auto;
}

mat-row {
  cursor: pointer;
}

.cdk-column-delete {
  max-width: 40px;
}

mat-icon {
  margin-right: 10px;
}

mat-toolbar.mat-toolbar mat-form-field.mat-form-field {
  font-size: 0.8em;
  margin-right: 20px;
}
