<mat-toolbar color="primary">
  <span>New recording</span>
</mat-toolbar>

<mat-card class="mat-elevation-z4">
  <form [formGroup]="recordingForm" (ngSubmit)="onSubmit()">
    <mat-card-content>

      <mat-form-field appearance="standard">
        <mat-label>Participant</mat-label>
        <mat-select required formControlName="participant_id">
          <mat-option *ngFor="let participant of participants$ | async" [value]="participant.id">
            {{participant.number}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" >
        <mat-label>Recording Name</mat-label>
        <input matInput required type="text" formControlName="name" cdkFocusInitial>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="button" [routerLink]="['/recordings']">Cancel</button>
      <button mat-raised-button type="submit" color="accent" [disabled]="!recordingForm.valid">Create</button>
    </mat-card-actions>
  </form>
</mat-card>
