.mat-app-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  overflow-y: auto;
}

app-nav {
  z-index: 10;
}
