[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
databases = "*"
starlette = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
asyncpg = "*"
pyyaml = "*"
rx = "*"
psycopg2 = "*"
shortuuid = "*"
gpiozero = "*"

[requires]
python_version = "3.9"
